# dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env files — keep .example, ignore actual secrets
.env
.env.local
.env.*.local

# testing
coverage/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local dev
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
